---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <main>
        <h1>Bienvenu sur <span class="text-gradient">oura-dive</span></h1>
        Mon site de prise de notes et de carnet de plongées virtuel !
    </main>
</Layout>
