---
import Collapsible from "../components/Collapsible.astro";
import ImageSection from "../components/ImageSection.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <h1>Matériel du plongeur</h1>
    <div class="flex flex-col space-y-4">
        <Collapsible title="Combinaisons">
            Il existe quatres grandes catégories de combinaisons :

            <ImageSection
                title="Combinaisons humides"
                imageSrc="./materiel/combinaison-humide.jpeg"
            >
                Ces combinaisons sont les plus abordables et répandues ! Elles offrent un confort
                thermique relatif en fonction de leur épaisseur (entre 0.5 à 8mm - Pour plonger à
                Banyuls en début de saison, au moins 7mm est recommandé). Il existe un nombre énorme
                de combinaisons (avec manchons, avec cagoule, type de zip, épaisseurs différentes
                sur certaines parties du corps pour une meilleure libertée de mouvements, prix, deux
                pièces ou intégrale, etc...)
            </ImageSection>

            <ImageSection
                title="Combinaisons semi-étanches"
                imageSrc="./materiel/combinaison-semi-etanche.jpg"
            >
                Plus chères que les humides, elles offrent un confort thermique supérieur à ces
                dernières en évitant notamment les rentrées d'eau (collerette, manchons bras et
                jambes, zip ventral ou dorsal d'épaule à épaule). Elles sont néamoins plus rigides
                et plus complexes à équiperque ces dernières.
            </ImageSection>

            <ImageSection
                title="Combinaisons étanches"
                imageSrc="./materiel/combinaison-etanche.jpeg"
            >
                Utilisées par des utilisateurs avertis et formés, elles offrent une très bonne
                isolation thermique. Le volume d'air dans la combinaison qui offre la bonne
                isolation thermique se gère à l'image d'un gilet stabilisateur. Elles sont chères et
                demandent un entretien régulier
            </ImageSection>

            <ImageSection
                title="Combinaisons de chasse"
                imageSrc="./materiel/combinaison-chasse.jpeg"
            >
                Composée de deux parties, elles s'enfilent directement dans l'eau. Elles sont
                extrèmement souples (donc facilement abimables, attention aux coups d'ongles) et
                épousent la forme du corps ce qui offre un bon confort thermique (épaisseurs comme
                les humides, jusqu'a 10mm pour les eaux très froides). Elles sont relativement
                abordables (pas plus chère qu'une combinaison humide voire moins chère). leurs
                souplesse offrent une super libertée de mouvement !
            </ImageSection>

            Pour le choix d'une combinaison, il est important de les essayer pour voir si on est à
            l'aise dedant ! Encore une fois, au club, on est nombreux ! tout le monde a un peu de
            tout, donc pas hésiter à demander des infos aux utilisateurs avant d'acheter. Pour les
            trois premières catégories de combinaisons, il est possible d'utiliser des sous chouches
            (souris) pour gagner en isolation thermique. Entretien de la combinaison :
            <ul>
                <li>
                    Laver la combinaison à l'eau claire après chaque week-end, ne pas la faire
                    sècher au soleil (abime et assèche le néoprène) !
                </li>
                <li>
                    Vers la fin de la saison, désinfecter la combinaison avec un produit type
                    septiOne (évite les bactéries, traite le néoprène)
                </li>
                <li>Graisser les fermetures éclairs (éviter de les grippers) avec du silicone</li>
                <li>
                    Si possible stocker la combinaison non plié, au sol, ou en penderie en utilisant
                    un ceintre adapté !
                </li>
                <li>
                    Quand on stocke la combinaison, le faire avec touts les zips (manchons inclus !)
                    en positions ouverts (si ouvert et grippés à cause du sel par exemple, on peut
                    quand même mettre la combinaison et plonger !)
                </li>
            </ul>

            Pour aller plus loin : <a
                href="https://www.decathlon.fr/c/htc/comment-choisir-sa-combinaison-de-plongee_2e9ecb9a-1fa2-4a15-8f33-2b8cceb3acf5"
                >Article de décathlon</a
            >
        </Collapsible>

        <Collapsible title="Palmes">
            <p>
                Il existe deux grandes catégories de palmes, les palmes chaussantes et les palmes
                règlables. Ces deux catégories sont détaillées ci-dessous. Les palmes peuvent être
                définie selon quatres catégories :
                <ul>
                    <li>La longeur de leur voilure</li>
                    <li>Leur rigidité</li>
                    <li>Leur poids</li>
                    <li>Leur système de fixation (pour les palmes règlables)</li>
                </ul>

                Plus elles sont rigides et courtes plus le volume d'eau déplacé est important,
                cependant, elles nécessitent une force physique plus importante. Entretien des
                palmes:

                <ul>
                    <li>Rincer les palmes à l&#39;eau claire après la plongée</li>
                    <li>ne pas marcher avec sur le sol de la piscine... risque de casse</li>
                </ul>

                Pour aller plus loin : <a
                    href="https://www.aquaparisplongee.fr/le-coin-du-materiel/comment-choisir-ses-palmes/#:~:text=les%20palmes%20chaussantes%20sont%20faciles,obligatoirement%20l'utilisation%20de%20bottillons."
                    >Article de aqua paris plongée</a
                >
            </p>

            <ImageSection title="Palmes chaussantes" imageSrc="./materiel/palme-chaussante.jpeg">
                Les palmes chaussantes épousent la forme du pied et peuvent s'utiliser avec un
                chausson en néoprène. Elles offrent certains avantages :

                <ul>
                    <li>Un bon maintient du pied quand choisies à la bonne taille</li>
                    <li>
                        Souvent plus souples que les palmes règlables et donc moins dur à manier
                    </li>
                </ul>
            </ImageSection>

            <ImageSection title="Palmes règlables" imageSrc="./materiel/palme-reglable.webp">
                Les palmes règlables s'utilisent le plus souvent avec des bauttillons. Les
                bauttilons sont des chaussures souvent faites en néoprène que l'on vient fixer dans
                la palme. Ces palmes ont plusieurs avantages :

                <ul>
                    <li>
                        Les bottillons sont bien plus solides que les chaussons (ils ont une
                        semelle) et rendent la marche d'approche au site plus facile
                    </li>
                    <li>
                        Les bottillons offrent souvent une meilleure protection thermique que les
                        chaussons
                    </li>
                    <li>Se mettent et s'enlèvent facilement</li>
                    <li>Peuvent se prêter à des collègues, car pas de pointure fixe</li>
                </ul>

                Elles sont souvent plus lourdes et plus rigides que des palmes chaussantes. Il
                existe plusieurs systèmes de fixation, les retours des utilisateurs du club
                recommandent les systèmes à ressorts qui sont solides et permettent un bon maintient
                du pied.
            </ImageSection>
        </Collapsible>

        <Collapsible title="Masque">
            <ImageSection title="" imageSrc="./materiel/masque.jpeg">
                Le masque est un élément très important du plongeur pour lui permettre de... voir !
                Bien qu'un masque peut paraître simple, il en existe un nombre très important et ce
                car plusieurs caractéritiques permettent de les différencier:
                <ul>
                    <li>
                        Les verres utilisés (verre simple, double, correcteurs) qui impactent la
                        visibilitée (latérale notamment)
                    </li>
                    <li>Le volume d'air contenu dans le masque</li>
                    <li>
                        La jupe du masque (claire pour laisser plus passer la lumière, ou
                        colorée/opaque)
                    </li>
                    <li>
                        La sangle du masque, qu'il faut éviter de trop serrer pour éviter de la
                        casser. La plupart des sangles peuvent s'acheter pour réparer une éventuelle
                        casse. Des sur-sangles en tissus existent pour protèger les cheveux.
                    </li>
                </ul>
            </ImageSection>
        </Collapsible>

        <Collapsible title="Tuba">
            <ImageSection title="" imageSrc="./materiel/tuba.jpeg">
                Le tuba permet de respirer proche de la surface tout en gardant la tête dans l'eau.
                Il peut être utile pour éviter de consommer l'air de la bouteille en cas de capelé
                en début ou fin de plongée.
                <ul>
                    <li>Avec valve de purge</li>
                    <li>Système anti vague</li>
                    <li>Couleur</li>
                    <li>Système de fixation</li>
                    <li>
                        Rigidité, certains sont flexibles et peuvent se ranger dans les poches des
                        gilets
                    </li>
                </ul>
            </ImageSection>
        </Collapsible>

        <Collapsible title="Couteau / coupe fil (matériel optionel)">
            <ImageSection title="Coupe fil" imageSrc="./materiel/coupe-fil.jpeg">
                Le coupe fil sert à couper des fils de pèche, cheveux... Il a l'avantage d'être
                léger et sécurisé (pas de risque de se couper)
            </ImageSection>

            <ImageSection title="Couteau" imageSrc="./materiel/couteau.jpeg">
                Le couteau, plus versatile, mais aussi plus lourd sert à de multiples usages (couper
                des fils, scier de plus grosses cordes, en chasse maritime, ...) Il existe beaucoup
                de types de couteaux (en inox, en titane, avec une dentelure en scie, avec coupe fil
                intégré, avec lame biseautée, ...).
                <br /> Il est généralement fournit avec un support qui protège l'utilisateur de la lame
                et qui permet de le porter à la ceinture, de l'acrocher au gilet, sur les bras/jambes
                avec des fixations, ...
            </ImageSection>
            <br />
            Il est conseillé d'avoir un accès au couteau ou coupe fil sur le buste et non sur la jambe,
            dans le cadre ou celle si serait inacessible (pris dans les filets par exemple).
        </Collapsible>
    </div>
</Layout>
